# services:
#   api:
#     build:
#       context: .
#       dockerfile: Dockerfile.dev
#     ports:
#       - "3000:3000"
#     env_file:
#       - .env
#     volumes:
#       - .:/app
#       - /app/node_modules
#     command: npm run dev
#     restart: unless-stopped

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run docker:dev
    restart: unless-stopped
